body
{
    background-color: black;
    color: white;
    margin: 0px;
    height: 100vh;
}


.card
{
    border: none;
    border-radius: 0.5em;
    background-color: rgba(255, 255, 255, 0.267);
    box-shadow: 0.1em 0em 0.5em 0.1em white;
}
.img-fluid
{
    border-radius: 0.5em 0.5em 0em 0em;
}
.card-body .btn
{
    opacity: 0;
    transition: 1s;
    border-radius: 0.4em;
}
.card-body:hover .btn
{
    opacity: 1;

}

.card-body .btn:hover
{
    background-color: yellow;
    box-shadow: 0.1em 0em 0.3em 0.1em white;
    color: white;
    transition: 1s;
}
